<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><span style="color:#565656">Make this Notebook Trusted to load map: File -> Trust Notebook</span><iframe srcdoc="&lt;!DOCTYPE html&gt;
&lt;head&gt;    
    &lt;meta http-equiv=&quot;content-type&quot; content=&quot;text/html; charset=UTF-8&quot; /&gt;
    
        &lt;script&gt;
            document.addEventListener(&#x27;DOMContentLoaded&#x27;, function() {
                var map = document.querySelector(&#x27;div.folium-map&#x27;);
                if (map) {
                    map.addEventListener(&#x27;draw:created&#x27;, function(e) {
                        var drawn_features = e.detail.geojson;
                        save_drawn_data(drawn_features);
                    });
                }
            });
        &lt;/script&gt;
    
    
        &lt;script&gt;
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        &lt;/script&gt;
    
    &lt;style&gt;html, body {width: 100%;height: 100%;margin: 0;padding: 0;}&lt;/style&gt;
    &lt;style&gt;#map {position:absolute;top:0;bottom:0;right:0;left:0;}&lt;/style&gt;
    &lt;script src=&quot;https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://code.jquery.com/jquery-1.12.4.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js&quot;&gt;&lt;/script&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css&quot;/&gt;
    
            &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no&quot; /&gt;
            &lt;style&gt;
                #map_dd536f59d3dbed0ebf6dc611ed124c86 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            &lt;/style&gt;
        
    &lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js&quot;&gt;&lt;/script&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css&quot;/&gt;
    
            &lt;style&gt;
                #export {
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    z-index: 999;
                    background: white;
                    color: black;
                    padding: 6px;
                    border-radius: 4px;
                    font-family: &#x27;Helvetica Neue&#x27;;
                    cursor: pointer;
                    font-size: 12px;
                    text-decoration: none;
                    top: 90px;
                }
            &lt;/style&gt;
        
&lt;/head&gt;
&lt;body&gt;    
    
            &lt;div class=&quot;folium-map&quot; id=&quot;map_dd536f59d3dbed0ebf6dc611ed124c86&quot; &gt;&lt;/div&gt;
        
    &lt;a href=&#x27;#&#x27; id=&#x27;export&#x27;&gt;Export&lt;/a&gt;
&lt;/body&gt;
&lt;script&gt;    
    
            var map_dd536f59d3dbed0ebf6dc611ed124c86 = L.map(
                &quot;map_dd536f59d3dbed0ebf6dc611ed124c86&quot;,
                {
                    center: [-28.899666, -54.555794],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_98da09a9e9d51dfdbadcd36a95bf8600 = L.tileLayer(
                &quot;https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png&quot;,
                {&quot;attribution&quot;: &quot;Data by \u0026copy; \u003ca href=\&quot;http://openstreetmap.org\&quot;\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\&quot;http://www.openstreetmap.org/copyright\&quot;\u003eODbL\u003c/a\u003e.&quot;, &quot;detectRetina&quot;: false, &quot;maxNativeZoom&quot;: 18, &quot;maxZoom&quot;: 18, &quot;minZoom&quot;: 0, &quot;noWrap&quot;: false, &quot;opacity&quot;: 1, &quot;subdomains&quot;: &quot;abc&quot;, &quot;tms&quot;: false}
            ).addTo(map_dd536f59d3dbed0ebf6dc611ed124c86);
        
    
            var tile_layer_40a54237d87679859a747236b414e63b = L.tileLayer(
                &quot;https://mt1.google.com/vt/lyrs=s\u0026x={x}\u0026y={y}\u0026z={z}\u0026key=AIzaSyBEXDD_vKYyk8Mg65jL_da8prvBGEh0_20&quot;,
                {&quot;attribution&quot;: &quot;Google Maps Satellite&quot;, &quot;detectRetina&quot;: false, &quot;maxNativeZoom&quot;: 18, &quot;maxZoom&quot;: 18, &quot;minZoom&quot;: 0, &quot;noWrap&quot;: false, &quot;opacity&quot;: 1, &quot;subdomains&quot;: &quot;abc&quot;, &quot;tms&quot;: false}
            ).addTo(map_dd536f59d3dbed0ebf6dc611ed124c86);
        
    
            var layer_control_298cb4a7ff64f78eb8549188b94bca5a = {
                base_layers : {
                    &quot;openstreetmap&quot; : tile_layer_98da09a9e9d51dfdbadcd36a95bf8600,
                    &quot;Sat\u00e9lite Google&quot; : tile_layer_40a54237d87679859a747236b414e63b,
                },
                overlays :  {
                },
            };
            L.control.layers(
                layer_control_298cb4a7ff64f78eb8549188b94bca5a.base_layers,
                layer_control_298cb4a7ff64f78eb8549188b94bca5a.overlays,
                {&quot;autoZIndex&quot;: true, &quot;collapsed&quot;: true, &quot;position&quot;: &quot;topright&quot;}
            ).addTo(map_dd536f59d3dbed0ebf6dc611ed124c86);
            tile_layer_40a54237d87679859a747236b414e63b.remove();
        
    
            var options = {
              position: &quot;topleft&quot;,
              draw: {},
              edit: {},
            }
            // FeatureGroup is to store editable layers.
            var drawnItems = new L.featureGroup().addTo(
                map_dd536f59d3dbed0ebf6dc611ed124c86
            );
            options.edit.featureGroup = drawnItems;
            var draw_control_e5c1afb6dcfb321500a0d7fa83b021bf = new L.Control.Draw(
                options
            ).addTo( map_dd536f59d3dbed0ebf6dc611ed124c86 );
            map_dd536f59d3dbed0ebf6dc611ed124c86.on(L.Draw.Event.CREATED, function(e) {
                var layer = e.layer,
                    type = e.layerType;
                var coords = JSON.stringify(layer.toGeoJSON());
                layer.on(&#x27;click&#x27;, function() {
                    alert(coords);
                    console.log(coords);
                });
                drawnItems.addLayer(layer);
             });
            map_dd536f59d3dbed0ebf6dc611ed124c86.on(&#x27;draw:created&#x27;, function(e) {
                drawnItems.addLayer(e.layer);
            });
            
            document.getElementById(&#x27;export&#x27;).onclick = function(e) {
                var data = drawnItems.toGeoJSON();
                var convertedData = &#x27;text/json;charset=utf-8,&#x27;
                    + encodeURIComponent(JSON.stringify(data));
                document.getElementById(&#x27;export&#x27;).setAttribute(
                    &#x27;href&#x27;, &#x27;data:&#x27; + convertedData
                );
                document.getElementById(&#x27;export&#x27;).setAttribute(
                    &#x27;download&#x27;, &quot;data.geojson&quot;
                );
            }
            
        
&lt;/script&gt;" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe></div></div>